body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/174/451/original/StockCake-Vintage_Library_Shelves_1759564115.jpg?1759564144https://s3.amazonaws.com/shecodesio-production/uploads/files/000/174/451/original/StockCake-Vintage_Library_Shelves_1759564115.jpg?1759564144);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #332211;
}
.App {
  text-align: center;
  margin: 100px auto 0px;
  color: #332211;
}

.App a {
  color: #332211aa;
  text-decoration: none;
}
.App section {
  background-color: #ede0d4f6;
  margin: 40px auto;
  max-width: 800px;
  padding: 40px;
  border-radius: 5px;
}
.App footer {
  background-color: #ede0d4e4;
  border-radius: 5px;
  max-width: 800px;
  margin: 40px auto 40px;
  padding: 10px;
  font-size: 15px;
  font-style: italic;
}
