strong {
  font-size: 20px;
  display: block;
  margin: 20px auto;
}
.meaning {
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
}
em {
  color: #3322119d;
}
@media screen and (max-width: 700px) {
  strong {
    font-size: 17px;
  }
  .meaning {
    font-size: 14px;
    margin-left: 0px;
  }
}
