.phonetic {
  font-style: italic;
  font-size: 20px;
  display: inline;
  font-weight: 600;
  color: #332211a2;
  margin-left: 20px;
  margin-bottom: 15px;
}
h2 {
  margin-left: 20px;
  margin-bottom: 20px;
}
.audio {
  display: inline;
}
.text {
  margin-right: 15px;
}
img:hover {
  cursor: pointer;
}

.synonym {
  padding: 10px;
  border: 1px solid #33221123;
  border-radius: 20px;
}
li {
  list-style: none;
  font-size: 12px;
  background-color: #d9b9a46b;
  margin-right: 15px;
}
ul {
  display: flex;
  padding: 0;
  margin: 20px;
}
.photos {
  margin-bottom: 25px;
}
.word-photo {
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  h2 {
    font-size: 22px;
  }
  .phonetic {
    font-size: 15px;
    margin-left: 0;
  }
  img .audio {
    width: 18px;
    margin-right: 10px;
  }
  .synonym {
    display: none;
  }
  h2 {
    margin-left: 0px;
  }
  ul {
    margin-left: 0px;
  }
  .text {
    margin-right: 7px;
  }
}
