.phonetic {
  font-style: italic;
  font-size: 20px;
  display: inline;
  font-weight: 600;
  color: #332211a2;
  margin-left: 20px;
  margin-bottom: 15px;
}
h2 {
  margin-left: 20px;
  margin-bottom: 20px;
}
.audio {
  display: inline;
}
.text {
  margin-right: 15px;
}
img:hover {
  cursor: pointer;
}
h3 {
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.synonym {
  padding: 10px;
  border: 1px solid #33221123;
  border-radius: 20px;
}
li {
  list-style: none;
  font-size: 12px;
  background-color: #d9b9a46b;
  margin-right: 15px;
}
ul {
  display: flex;
  padding: 0;
  margin: 20px;
}
.photos {
  margin-bottom: 25px;
}
.word-photo {
  border-radius: 5px;
}
.word-photo:hover {
  cursor: pointer;
}
