h1 {
  font-size: 25px;
  text-align: start;
  margin-left: 20px;
}
input {
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  padding: 10px;
  width: 95%;
  margin: 10px;
  background-color: #d9b9a46b;
  color: #332211;
  font-size: 20px;
}
.error {
  font-size: 20px;
}
@media screen and (max-width: 700px) {
  h1 {
    font-size: 17px;
    margin: 0px;
  }
  input {
    padding: 8px;
    font-size: 15px;
    margin-left: 0;
  }
}
